*{
    margin: 0;
    padding: 0;
}

.topsite {
    background-color: white;
    text-align: center;
    padding-bottom: 1%;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

h2 {
    color: green;
    font-size: 2em;
} 

body {
    background-color: rgb(214, 214, 214);
    font-size: 16px;
}

#header {
    background-image: url(/2-3_Setores-Posicionamentos/imagens/Convite-formatura.jpg);
    background-size: cover;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1em;
}

#ContHTML {
    background-color: red;
}

#Titulo-ContHTML {
   color: orange; 
}

.list-style {
    background-color: green;
    color: white;
    font-weight: bold;
    font-style: italic;
    line-height: 20px;
    text-align: left;
}